# SPDX-License-Identifier: GPL-2.0-only
#
# Copyright (c) 2021 Microsoft Corporation
#

menuconfig SPI_HID
	tristate "SPI HID support"
	default y
	depends on SPI

if SPI_HID

config SPI_HID_CORE
	tristate
endif
