# SPDX-License-Identifier: GPL-2.0-only
#
# Copyright (c) 2021 Microsoft Corporation
#

menuconfig SPI_HID
	tristate "SPI HID support"
	default y
	depends on SPI

if SPI_HID

config SPI_HID_ACPI
	tristate "HID over SPI transport layer ACPI driver"
	depends on ACPI
	select SPI_HID_CORE
	help
	  Say Y here if you use a keyboard, a touchpad, a touchscreen, or any
	  other HID based devices which are connected to your computer via SPI.
	  This driver supports ACPI-based systems.

	  If unsure, say N.

	  This support is also available as a module.  If so, the module
	  will be called spi-hid-acpi. It will also build/depend on the
	  module spi-hid.

config SPI_HID_OF
	tristate "HID over SPI transport layer Open Firmware driver"
	depends on OF
	select SPI_HID_CORE
	help
	  Say Y here if you use a keyboard, a touchpad, a touchscreen, or any
	  other HID based devices which are connected to your computer via SPI.
	  This driver supports Open Firmware (Device Tree)-based systems.

	  If unsure, say N.

	  This support is also available as a module.  If so, the module
	  will be called spi-hid-of. It will also build/depend on the
	  module spi-hid.

config SPI_HID_CORE
	tristate
endif
